#container {
  margin: 0 auto;
  max-width: 1280px;
  display:flex;
  justify-content:center;
}
p { text-align: center; }
 .toggle, [id^=drop] {
 display: none;
}
nav {
  margin: 0;
  padding: 0;
  /* background-color: #87acc7; */
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #fff;
}
nav ul li > ul li a{    
    font-size:14px;
    line-height: 36px;
}
nav a {
  display: block;
  padding: 0 20px;
  color: #87acc7;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul li ul li:hover { background: #87acc7; }

nav a:hover { background-color: #87acc7; color:white; }

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
  width: 180px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after { content: ' > '; }

li > a:only-child:after { content: ''; }
/* Maintain color of parent on hover */
nav ul li:hover > a {
    background-color: #87acc7;
    color: #FFF; /* Ensure text color is white when hovered */
  }
  
  nav ul ul li:hover > a {
    background-color: #87acc7;
    color: #FFF; /* Ensure text color is white when hovered */
  }
  
  nav ul ul ul li:hover > a {
    background-color: #87acc7;
    color: #FFF; /* Ensure text color is white when hovered */
  }

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 1026px) {

#logo {
  display: block;
  padding: 0;
  width: 100%;
  text-align: center;
  float: none;
}

nav { margin: 0; }

.toggle + a,
 .menu { display: none; }

.toggle {
  display: block;
  background-color: #87acc7;
  padding: 0 20px;
  color: #FFF;
  font-size: 22px;
  font-weight:bold;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { background-color: #000000; }

[id^=drop]:checked + ul { display: block; }

nav ul li {
  display: block;
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { padding: 0 40px; }

nav ul ul ul a { padding: 0 80px; }

nav a:hover,
 nav ul ul ul a { background-color: #000000; }

nav ul li ul li .toggle,
 nav ul ul a { background-color: #212121; }

nav ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { display: none; }

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav ul li {
  display: block;
  width: 94%;
}

}